.chef-destaque
	margin: 2em 0
	h3
		text-transform: none
		font-size: 1.2em
	.imagem
		overflow: hidden
		width: 15em
		height: 15em
		mask-image: url('/images/bg-circle-mask.svg')
		margin: 0 auto
		img
			max-width: 100%
			&.h
				max-width: inherit
				max-height: 100%
