.comunidade
	.onde-estamos,
	.ultimos-posts
		float: left
		width: 46%
		margin: 0 2% 3em
		.mascara
			height: 37.4em
			background-color: white
			mask-image: url('/images/bg-poligono-mask.svg')
			mask-size: cover
	.fb-page
		margin: 3em 0 0
