.cozinheiro-do-mes
	.chefe-conteudo
		width: 90%
		-webkit-mask-image: url("/images/bg-destaque-mask.svg");
		mask-image: url("/images/bg-destaque-mask.svg");
		-webkit-mask-position: center center;
		mask-position: center center;
		-webkit-mask-size: cover;
		mask-size: cover;
		padding: 50px 0 60px
		margin: -50px auto 10px
		background-color: #D91F5D
		position: relative
		z-index: -1
	.chefe-descricao
		width: 80%
		margin: 0 auto
	.cardapio-chef
		h4
			margin-bottom: 0
		.destaque
			span(4/24, 3/24)
//			margin-right: 8.333333%
			.imagem
				width: 8em
				height: 8em
