.cozinheiro-do-mes
	background-image: url('/images/bg-destaque.svg')
	background-position: 50% 60%
	background-repeat: no-repeat
	background-size: 90%
	.destaque-mes
		margin: 2em 0
		h3
			text-transform: none
			font-size: 1.2em
		.imagem
			overflow: hidden
			width: 15em
			height: 15em
			border-radius: 15em
			margin: 0 auto
			img
				max-width: 100%
				&.h
					max-width: inherit
					max-height: 100%
	.cardapio-chef
		h4
			margin: 4em 0 0
			text-transform: uppercase
		.destaque
			span(4/24, 3/24)
//			margin-right: 8.333333%
			.imagem
				width: 8em
				height: 8em
