#customer_gender
  padding: 1em 1.6em
  border: 0.1em solid rgba(128, 129, 132, 0.4)
  border-radius: 0
  background: white url("http://cl.ly/2N1i1p2C2V1t/Arrow-down-navmenu.png") no-repeat scroll 90% center
  width: 100%
  display: inline-block
  -webkit-appearance: none
  font-family: Roboto
  font-size: 1em
  color: #999

  

