.grupo-destaques
	.destaque
		col(1/3)
		margin-top: 2em
		margin-bottom: 2em
		.imagem
			overflow: hidden
			width: 10em
			height: 10em
			background-color: transparent
			mask-image: url('/images/bg-circle-mask.svg')
			margin: 0 auto 2em
			img
				max-width: 100%
				&.h
					max-width: inherit
					max-height: 100%
