@import 'jeet'
@import 'colors.import'
@import 'animatecss.import'

global-reset()

html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

body
	background-color: azul-claro
	background-image: url('/images/bg.png')
	background-position: 50% -17%
	background-repeat: no-repeat
	font-family: 'Roboto', sans-serif
	font-weight: 100
	color: branco
	border: 1em solid branco

p
	line-height: 2em
	margin-bottom: 3em
	&.legend
		margin-top: 1em
		color: rgba(255,255,255,.75)
		font-weight: 400
	&.subtitulo
		center(60%)

h2
	text-align: center
	border-top: .2em solid rosa
	display: inline-block
	padding: 1em .5em 0
	text-transform: uppercase
	font-size: 1.2em
	font-weight: 700
	margin: 3em auto

h3
	font-weight: 700
	text-transform: uppercase
	margin: 1em 0

h4
	font-weight: 400
	text-transform: uppercase
	margin: 4em 0
input
	font-size: 1em
	padding: 1em
	border: 0
input[type=submit],
button
	background-color: rosa
	color: white
	text-transform: uppercase

.container
	center(1280px)

.row
	col(1)
	text-align: center

.clear
	clearfix()

.parceiros
	img
		max-width: 90%
		margin: 0 0 6em

// componentes
@import 'grupo-destaques.import'
@import 'chef-destaque.import'

// módulos
@import 'topo.import'
@import 'cozinheiro-do-mes.import'
@import 'proximo-cozinheiro.import'
@import 'comunidade.import'
@import 'rodape.import'
