@import 'jeet'
@import 'colors.import'
global-reset()
body
	background-color: azul-claro
	background-image: url('/images/bg.png')
	background-position: 50% 0
	background-repeat: no-repeat
	font-family: 'Roboto', sans-serif
	font-weight: 400
	color: branco
	border: 1em solid branco
p
	line-height: 2em
h2
	text-align: center
	border-top: .2em solid rosa
	display: inline-block
	min-width: 10em
	padding: 1em .5em 0
	text-transform: uppercase
	font-size: 1.1em
	font-weight: 700
	margin: 3em auto
h3
	font-weight: 700
	text-transform: uppercase
	margin: 1em 0

.container
	center(1280px)
.row
	col(1)
	text-align: center
.rodape
	background-color: white
	color: cinza
	.titulo
		color: rosa
@import 'topo.import'
@import 'nossos-pilares.import'
@import 'comunidade.import'
