@import 'jeet'
@import 'colors.import'
@import 'animatecss.import'

global-reset()

html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

body
	background-color: azul-claro
	background-image: url('/images/bg.png')
	background-position: 50% -17%
	background-repeat: no-repeat
	font-family: 'Roboto', sans-serif
	font-weight: 400
	color: branco
	border: 1em solid branco

p
	line-height: 2em
	margin-bottom: 3em
	&.legend
		margin-top: 1em
		color: rgba(255,255,255,.75)
		font-weight: 400
	&.subtitulo
		center(60%)

h2
	text-align: center
	border-top: .2em solid rosa
	display: inline-block
	padding: 1em 0
	text-transform: uppercase
	font-size: 1.2em
	font-weight: 700
	margin: 4em auto

h3
	font-weight: 700
	text-transform: uppercase
	margin: 1em 0

h4
	font-weight: 400
	text-transform: uppercase
	margin: 4em 0
input,
button
	font-size: 1em
	padding: 1em
	border: .1em solid cinza-claro
input[type=submit],
button
	background-color: rosa
	color: white
	text-transform: uppercase
	border-color: rosa
	&.secondary
		border-color: white
		background-color: white
		color: cinza
.container
	center(1280px)

.row
	col(1)
	text-align: center

.clear
	clearfix()

.parceiros
	position: relative;
	&:after
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(84, 194, 189, 0);
		border-top-color: #54C2BD;
		border-width: 20px;
		margin-left: -20px;
	img
		max-width: 90%
		margin: 0 0 6em

fieldset
	ul.alert
		clearfix()
		li
			col(1/3)
			height: 3em
			padding: .5em
			margin: 0 .5em .5em 0
			text-align: left
		&.error li
			background-color: #f2dede
			border-left: .5em solid #b94a48
			color: #b94a48
		&.success li
			background-color: #dff0d8
			border-left: .5em solid #468847
			color: #468847
		&.atention li
			background-color: #fcf8e3
			border-left: .5em solid #c09853
			color: #c09853

// componentes
@import 'grupo-destaques.import'
@import 'chef-destaque.import'

// módulos
@import 'topo.import'
@import 'cozinheiro-do-mes.import'
@import 'proximo-cozinheiro.import'
@import 'comunidade.import'
@import 'rodape.import'
@import 'mobile.import'
@import 'form.import'
