@media all and (max-width: 25em)
	.grupo-destaques,
	.cozinheiro-do-mes .cardapio-chef
		.destaque
			col(1)
	.proximo-cozinheiro .perfil
		background-size: 300%;
		.progresso
			width: 100%
			p
				font-size: 1.5em
	.comunidade
		.onde-estamos,
		.ultimos-posts
			col(1)
			.mascara
				position: relative
				height: 25em
				.fb-page
					margin: 0
			.shadow,
			img
				width: 370px
				height: 400px
	.rodape
		.participante
			col(1)
