@media all and (max-width: 750px)
	.comunidade
		.inscreva
			input
				width: 80%
				display: block
				margin: 0.5em auto
		.onde-estamos,
		.ultimos-posts
			display: block
			width: 80%
			float: none
			clear: both
			margin: 0 auto

@media all and (max-width: 30em)
	h2
		margin: 3em 0 2em
		display: inline-block
		max-width: 80%
	.cozinheiro-do-mes
		background-image: none
		.cardapio-chefe
			h4
				margin-bottom: 2em
	.grupo-destaques,
	.cozinheiro-do-mes .cardapio-chef
		.destaque
			col(1)
			margin-top: 0
	.proximo-cozinheiro
		.doacao
			fieldset
				mask-image: none
				padding: 5em 1em
		.perfil
			background-size: 300%;
			.progresso
				width: 100%
				p
					font-size: 1.5em
		fieldset
			.input input
				col(1)
	.comunidade
		.ultimos-posts
			min-width: 340px;
		.onde-estamos,
		.ultimos-posts
			width: 99%
			.mascara
				position: relative
				height: 23em
				background-size: 90%
				mask-image: none
				.fb-page
					margin: 0
			.shadow,
			img
				width: auto
				height: 400px
			.shadow
				width: 100%
				p
					padding: 2em
	.rodape
		text-align: center
		.participante
			col(1)
