@keyframes moving-gradient
	0%
		background-position: 100px 0
	100%
		background-position: 0 0

.proximo-cozinheiro .perfil
	background-image: url('/images/bg-destaque.svg')
	background-position: 50% 100%
	background-repeat: no-repeat
	background-size: 90%
	.progresso
		center(75%)
		p
			font-weight: 400
			font-size: 2.2em
			line-height: 1em
			margin-bottom: 0
			padding: .2em 0
			span
				font-size: 65%
		.barra
			col(10/12)
			background-image: repeating-linear-gradient(
				135deg,
				rosa,
				rosa .35em,
				rgba(255,255,255,.75) .35em,
				rgba(255,255,255,.75) .4em /* determines size */
			)
			animation-name: moving-gradient
			animation-duration: 7s
			animation-iteration-count: infinite
			animation-timing-function: linear
			.preenchido
				width:30%
				background-color: rosa-escuro
				p
					text-align: right
					font-size: 1.5em
					padding: .5em 1em
		.objetivo
			col(2/12)

.proximo-cozinheiro .doacao
	.planos
		.plano
			color: white
			display: inline-block
			width: 5.3em
			height: 5.3em
			margin: 0 1em
			font-size: 2em
			font-weight: 400
			line-height: 5.3em
			vertical-align: middle
			text-decoration: none
			mask-image: url('/images/bg-circle-mask.svg')
			mask-size: cover
			&:hover
				animation: pulse 1s
	form
		position: relative
		z-index: -2
	fieldset
		position: relative
		z-index: -1
		margin: -5em auto 3em
		background-color: white
		mask-image: url('/images/bg-big-poligono-mask.svg')
		mask-size: cover
		width: 90%
		padding: 8em 6em
		color: cinza
		legend
			font-weight: 400
			color: cinza
			col(1)
			margin-top: 3em
			margin-bottom: 3em
			text-transform: uppercase
		input
			border: .1em solid cinza-claro
		.input
			float: left
			margin: 0 1em 1em 0
		.submit
			width: 100%
			text-align: center

