.rodape-container
	background-color: white

.rodape
	background-color: white
	color: cinza
	padding: 3em 0
	.participante
		span(1/3)
		margin-top: 2em
		margin-bottom: 2em
		text-align: left
		p
			margin-bottom: 0
		.titulo
			font-weight: 700
			margin-bottom: .5em
	.redes-sociais
		text-align: right
	.titulo
		color: rosa
