<template name="comunidade">
	<h2>entre para a comunidade</h2>
	<p class="subtitulo">Temos uma movimentada agenda de eventos e workshops programada para movimentar a Praça dos Arcos! Quer saber tudo antes de todo mundo? Cadastre seu número de celular e/ou e-mail para enviaremos as últimas notícias!</p>
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup" class="inscreva">
		<form action="//cozinhasp.us12.list-manage.com/subscribe/post?u=46520c584f56f9a43b0215fc6&amp;id=c2d4c2b44f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="text" value="" name="NAME" class="required" id="mce-NAME" placeholder="Nome">
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail">
			<input type="text" value="" name="PHONE" class="required" id="mce-PHONE" placeholder="Celular">
			<input type="submit" value="Assinar" name="subscribe" id="mc-embedded-subscribe" class="button">
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_46520c584f56f9a43b0215fc6_c2d4c2b44f" tabindex="-1" value=""></div>
		</form>
	</div>
	<!--End mc_embed_signup-->
	<p class="legend">* É necessário que você cadastre em sua agenda o nosso telefone para receber as notícias: (011) 95393-2866</p>

	<div class="onde-estamos">
		<h2>onde estamos</h2>
		<div class="mascara">{{> onde_estamos }}</div>
	</div>
	<div class="ultimos-posts">
		<h2>últimos posts</h2>
		<div class="mascara">{{> ultimos_posts }}</div>
	</div>
</template>

<template name="onde_estamos">
	<a href="https://goo.gl/maps/PouuKbWHmu52" target="_blank">
		<img src="https://api.mapbox.com/v4/nucleodigital.cifzus56e6481uum0mjbsssdc/pin-l-restaurant+D91C5C(-46.664211,-23.554371)/-46.664211,-23.554371, 17/570x598.png?access_token=pk.eyJ1IjoibnVjbGVvZGlnaXRhbCIsImEiOiJjaWZ6dXM2bzk2NHExdXprczlvcms2cWwyIn0.4mI46ocnSB5j1QJL-4FokA" alt="Praca marechal cordeiro de farias (Mirante Pacaembu) - São Paulo, Brazil"/>
		<div class="shadow"><p>Mirante Pacaembu (Praça Marechal Cordeiro de Farias)</p></div>
	</a>
	<p class="direitos-autorais">© OpenStreetMap. Quer melhorar este mapa? Visite <a href="http://www.openstreetmap.com.br" target="_blank">www.openstreetmap.com.br</a></p>
</template>

<template name="ultimos_posts">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=167881963404494";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-page" data-href="https://www.facebook.com/cozinhasaopaulo" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/cozinhasaopaulo"><a href="https://www.facebook.com/cozinhasaopaulo">Cozinha São Paulo</a></blockquote></div></div>
</template>
