<template name="cozinheiro_do_mes">
	<h2>cozinheiro de dezembro</h2>
	<div class="chef-destaque">
		<div class="imagem"><img src="/images/cozinheiro-do-mes-dezembro.jpg" class="h" alt="Cozinheiro do mês" /></div>
		<div class="chefe-conteudo">
			<h3>Jônatas Passos</h3>
			<p class="chefe-descricao">Morador da Vila Maria, Jônatas Passos cresceu ajudando sua mãe na cozinha a empanar coxinhas e assar bolos. Na adolescência, não queria nem ouvir falar sobre gastronomia, mas logo viu que era com isso mesmo que queria se estabelecer. Passou, então, por diversos restaurantes, como Exquisito, Peixaria Bar, Zino e Buttina. Também criou o Döner da Rua, um carrinho com espeto giratório, inspirada pela culinária turca, que já passou por diversas ruas e eventos, como a feira gastronômica O Mercado. Agora, junto a Lukas Felix, o chef mostra um pouco de seu bairro e da cidade de São Paulo, com o cardápio Mistura Cultura, inspirado por migrantes e imigrantes e pelo desafio de unir sabores.</p>
		</div>
	</div>
	<div class="grupo-destaques cardapio-chef">
		<h4>conheça alguns dos pratos</h4>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-01.jpeg" class="h" alt="Pollo a Passarinho" /></div>
			<p>Pollo a Passarinho</p>
		</div>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-02.jpeg" class="h" alt="Porco Supremo"/></div>
			<p>Porco Supremo</p>
		</div>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-03.jpeg" class="h" alt="Trinidad Santa Cruz (vegetariano)"/></div>
			<p>Trinidad Santa Cruz (vegetariano)</p>
		</div>
	</div>
</template>
