<template name="cozinheiro_do_mes">
	<h2>cozinheiro de novembro</h2>
	<div class="chef-destaque">
		<div class="imagem"><img src="/images/cozinheiro-do-mes-novembro.jpg" class="h" alt="Cozinheiro do mês" /></div>
		<h3>Ronaldo de Melo</h3>
		<p>Bença Vó Gastronomia</p>
	</div>
	<div class="grupo-destaques cardapio-chef">
		<h4>cardápio do chef</h4>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-01.jpeg" class="h" alt="Comida tal" /></div>
			<p>Lorem ipsum dolor sit met dolor sit lorem ipsum.</p>
		</div>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-02.jpeg" class="h" alt="Comida outra lá"/></div>
			<p>Lorem ipsum dolor sit met dolor sit lorem ipsum.</p>
		</div>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-03.jpeg" class="h" alt="Comida da fulaninha"/></div>
			<p>Lorem ipsum dolor sit met dolor sit lorem ipsum.</p>
		</div>
	</div>
</template>
