<template name="cozinheiro_do_mes">
	<h2>cozinheiros de junho</h2>
	<div class="chef-destaque">
		<div class="imagem"><img src="/images/cozinheiro-do-mes-junho.jpg" class="h" alt="Cozinheiro do mês" /></div>
		<h3>Projeto Esconderijo</h3>
		<p>Amigos há mais de dez anos, José Carlos e Christopher Carijó já planejavam um projeto gastronômico desde a época da escola. Zé foi estudar gastronomia e logo Chris se envolveu com cafés e drinks. Ambos seguiram trabalhando na área, até que viram no Cozinha SP uma chance de tirar o sonho do papel e aliar conhecimento, amizade e o interesse pelas raízes brasileiras. Chega, então, o projeto Esconderijo, focado em escondidinhos, chás gelados e sobremesas.</p>
	</div>
	<div class="grupo-destaques cardapio-chef">
		<h4>conheça alguns dos pratos</h4>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-01.jpeg" class="h" alt="Escondidinho" /></div>
			<p>Escondinho</p>
		</div>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-02.jpeg" class="h" alt="Arroz Escondido"/></div>
			<p>Arroz Escondido</p>
		</div>
		<div class="destaque item-cardapio">
			<div class="imagem"><img src="/images/cardapio-03.jpeg" class="h" alt="Águas saborizadas e chás gelados"/></div>
			<p>Águas saborizadas e chás gelados</p>
		</div>
	</div>
</template>
