<template name="nossos_pilares">
	<h2>nossos pilares</h2>
	<div class="pilar">
		<img src="" alt=""/>
		<h3>transformação social</h3>
		<p>Eventos e oficinas gastronômicas sociais.</p>
	</div>
	<div class="pilar">
		<img src="" alt=""/>
		<h3>agricultura familiar</h3>
		<p>Incentivo a agricultura familiar orgânica e biodinâmica e ao empreendedorismo.</p>
	</div>
	<div class="pilar">
		<img src="" alt=""/>
		<h3>educação e formação</h3>
		<p>Educação cidadã e formação profissional de cozinheiros.</p>

	</div>
</template>
