<template name="proximo_cozinheiro">
	<div class="perfil">
		<h2>ajude o próximo cozinheiro a realizar seu sonho</h2>
		<p class="subtitulo">A cada mês, oferecemos a um jovem da periferia uma oportunidade no mundo da gastronomia. A ideia é dar o empurrãozinho inicial, para que no futuro o cozinheiro possa montar o seu próprio negócio. Com a sua participação, esse sonho fica ainda mais próximo.</p>
		<p class="subtitulo">Nos ajude a fechar as contas do mês. Temos o auxílio de doações, que pagam 50% de custos básicos como energia elétrica, produtos de limpeza e luz. Porém, ainda não é o suficiente. Precisamos de uma forcinha para que possamos continuar abertos até o fim do dia, inclusive em momentos de chuva - que, na falta de um toldo, fazem a cozinha inativa.</p>
		<p class="subtitulo">Lembrando que o Cozinha São Paulo não só trabalha a capacitação de chefs, mas também pensa seu ciclo produtivo e entorno. A presença do container na Praça dos Arcos tem contribuído para a revitalização do lugar, buscando estabelecê-lo cada vez mais como espaço de convivência e trazer de volta seu uso de mirante Pacaembu. Assim, contribuindo para o projeto, você contribui também para a cidade. </p>
		<!-- <div class="meta-cozinheiro">
			{{! meta_cozinheiro}}
		</div> -->
	</div>
	<!-- <div class="doacao">
		{{! doacao}}
	</div> -->
</template>

<template name="meta_cozinheiro">
	<div class="chef-destaque">
		<div class="imagem"><img src="/images/generica.jpeg" class="h" alt="Mirante Pacaembu" /></div>
		<div class="meta-conteudo">
			<h3>O Mirante Pacaembu</h3>
			<p>É um dos únicos espaços de estar da região, que tem ganhado mais vida com a presença do container. Ajude a mante-lo!</p>
			<div class="progresso">
				<div class="barra">
					<div class="preenchido" style="width: {{progresso_meta.porcentagem}}%;">

						<p class="valor"><span>R$</span>{{progresso_meta.alcancado}}</p>
					</div>
					<div class="objetivo"><p class="valor"><span>R$</span>{{progresso_meta.total}}</p></div>
				</div>
			</div>
			<p class="legend">Total alcançado até o momento. - Próxima atualizacão da meta em {{timer_atualizar_meta}} segundos.</p>
		</div>
	</div>

</template>

<template name="doacao">
	<h4>SUA DOAÇÃO AJUDA A MANTER A COZINHA SÃO PAULO FUNCIONANDO. ESCOLHA O VALOR DA SUA ASSINATURA MENSAL:</h4>
	<div class="planos">
		{{#each planos}}
		<a class="plano {{name}} {{#if active}}ativo{{/if}}" id={{id}} style="background-color: {{color}}" href="/plano-{{id}}">
			{{valor}}
		</a>
		{{/each}}
	</div>

	{{#if is_form_details_validate}}
		<form id="dados_pagamento_apoiador" novalidate>
			<fieldset>
				<legend>dados de pagamento</legend>
				{{> alert data=flash_message}}
				<div class="input text"><input type="text" name="card_holder_name" placeholder="Nome do portador (como escrito no cartão)" size=98 /></div>
				<div class="input text"><input type="text" name="card_number" placeholder="Número do cartão" size=98 /></div>
				<div class="input text"><input type="text" name="card_expiration_month" placeholder="Mês de expiração" size=28 /></div>
				<div class="input text"><input type="text" name="card_expiration_year" placeholder="Ano de expiração" size=28 /></div>
				<div class="input text"><input type="text" name="card_cvv" placeholder="Código de segurança" size=28 /></div>
				<div class="input submit">
					<button id="voltar" class="secondary">voltar</button>
					<input type="submit" value="concluir assinatura">
				</div>
			</fieldset>
		</form>
	{{else}}

		{{#if is_outro_plano_visible}}
		<form>
			<fieldset id="veja_como_prosseguir" class="fadeIn animated">
				<legend>Caso deseje fazer uma doação única, ou uma doação recorrente com valor maior, ou se quiser ser nosso parceiro, entre em contato conosco no email: <a href="mailto: contato@cozinhasp.org">contato@cozinhasp.org</a></legend>
			</fieldset>
		</form>
		{{else}}
			{{#if plano_ativo}}
			<form id="dados_pessoais_apoiador" novalidate>
				<fieldset class="fadeIn animated">
					<legend>preencha seus dados pessoais</legend>
					{{> alert data=flash_message}}
					<div class="input text">
						<input type="text" name="customer_name" placeholder="Nome" size=47 required value={{dados_doacao.name}}>
					</div>
					<div class="input text">
						<input type="email" name="customer_email" placeholder="E-mail" size="30" required value="{{dados_doacao.email}}">
					</div>
					<div class="input text">
						<input type="number" name="customer_document_number" placeholder="CPF" size=15 required value="{{dados_doacao.document_number}}">
					</div>

          <div class="input text">
            <select name="customer_gender" id="customer_gender">
              <option>Gênero</option>
              <option value="F">Feminino</option>
              <option value="M">Masculino</option>
            </select>
					</div>



					<div class="input text">
						<input type="text" name="customer_address_zipcode" placeholder="CEP" size=15 required value="{{dados_doacao.address.zipcode}}">
					</div>


					<div class="input text">
						<input type="text" name="customer_address_street" placeholder="Endereco" size=40 required value="{{dados_doacao.address.street}}">
					</div>
					<div class="input text">
						<input type="text" name="customer_address_neighborhood" placeholder="Bairro" required value="{{dados_doacao.address.neighborhood}}">
					</div>
					<div class="input text">
						<input type="number" name="customer_address_street_number" placeholder="Número" size=10 required value="{{dados_doacao.address.street_number}}">
					</div>
					<div class="input text">
						<input type="text" name="customer_address_complementary" placeholder="Complemento" size=15 value="{{dados_doacao.address.complementary}}">
					</div>
					<div class="input text">
						<input type="date" name="customer_born_at" placeholder="Data de nascimento" required title="Data de nascimento" value="{{dados_doacao.born_at}}">
					</div>
					<div class="input text">
						<input type="number" name="customer_phone_ddd" placeholder="DDD" size=10 required value="{{dados_doacao.phone.ddd}}">
					</div>
					<div class="input text">
						<input type="number" name="customer_phone_number" placeholder="Telefone" required value="{{dados_doacao.phone.number}}">
					</div>

					<div class="clear"></div>
					<div class="input submit">
						<button class="secondary" id="cancelar">cancelar</button>
						<input type="submit" value="prosseguir">
					</div>
				</fieldset>
			</form>
			{{/if}}
		{{/if}}
	{{/if}}
</template>
