<template name="proximo_cozinheiro">
	<div class="perfil">
		<h2>ajude o próximo cozinheiro a realizar seu sonho</h2>
		<p class="subtitulo">A cada mês, oferecemos a um jovem da periferia a chance de realizar o sonho de empreender no mundo da gastronomia e depois montar seu próprio negócio. Para que esse sonho seja possível, precisamos da sua ajuda.</p>
		<p class="subtitulo">Temos auxílio de doações e retorno das vendas de refeições, porém estão faltando 20% dos nossos custos mensais para fecharmos as contas. É aí que você entra!</p>
		<div class="meta-cozinheiro">
			{{> meta_cozinheiro}}
		</div>
	</div>
	<div class="doacao">
		{{> doacao}}
	</div>
</template>

<template name="meta_cozinheiro">
	<div class="chef-destaque">
		<div class="imagem"><img src="/images/cozinheiro-do-mes.jpeg" class="h" alt="Cozinheiro do mês" /></div>
		<h3>Wellington Ramos Rech</h3>
		<p>Lorem ipsum dolor sit met dolor sit lorem ipsum.</p>
	</div>
	<div class="progresso">
		<div class="barra">
			<div class="preenchido">
				<p class="valor"><span>R$</span>1.200,00</p>
			</div>
		</div>
		<div class="objetivo"><p class="valor"><span>R$</span>3.700,00</p></div>
	</div>

	<p class="legend">Total alcançado até o momento</p>
</template>

<template name="doacao">
	<h4>Ser um doador recorrente AINDA te dá o direito a um brinde exclusivo. Escolha o valor da sua assinatura mensal:</h4>
	<div class="planos">
		{{#each planos}}
		<a class="plano {{name}}" id={{id}} style="background-color: {{color}}" href="/plano-{{id}}">
			R$ {{valor}}
		</a>
		{{/each}}
		<a class="plano outro" id="outro-valor" style="background-color: rgb(103, 58, 142)" href="/plano-outro-valor">
			escolha outro valor
		</a>
	</div>
	{{#if is_form_details_validate}}
		<form id="dados_pagamento_apoiador" style="display: none;" novalidate>
			<fieldset>
				<legend>dados de pagamento</legend>
				<div class="input text">
					<label>Plano:</label>
					<select name="plan_id">
						<option value="21690">Mínimo</option>
						<option value="21691">Mínimo 2</option>
						<option value="21692">Ideal</option>
						<option value="21693">Ideal 2</option>
					</select>
				</div>
				<div class="input text"><label>Número do cartão:</label> <input type="text" name="card_number" placeholder=""/></div>
				<div class="input text"><label>Nome (como escrito no cartão): </label><input type="text" name="card_holder_name" placeholder=""/></div>
				<div class="input text"><label>Mês de expiração: </label><input type="text" name="card_expiration_month" placeholder=""/></div>
				<div class="input text"><label>Ano de expiração: </label><input type="text" name="card_expiration_year" placeholder=""/></div>
				<div class="input text"><label>Código de segurança: </label><input type="text" name="card_cvv" placeholder=""/></div>
				<input type="submit">
			</fieldset>
		</form>
	{{else}}
		{{#if plano_ativo}}
		<form id="dados_pessoais_apoiador" novalidate>
			<fieldset class="fadeIn animated">
				<legend>preencha seus dados pessoais</legend>
				{{> alert data=flash_message}}
				<div class="input text">
					<input type="text" name="customer_name" placeholder="Nome" size=47 required>
				</div>
				<div class="input text">
					<input type="email" name="customer_email" placeholder="E-mail" size="30" required>
				</div>
				<div class="input text">
					<input type="text" name="customer_document_number" placeholder="CPF" size=15 required>
				</div>
				<div class="input text">
					<input type="text" name="customer_address_zipcode" placeholder="CEP" size=15 required>
				</div>
				<div class="input text">
					<input type="text" name="customer_address_street" placeholder="Endereco" size=40 required>
				</div>
				<div class="input text">
					<input type="text" name="customer_address_neighborhood" placeholder="Bairro" required>
				</div>
				<div class="input text">
					<input type="number" name="customer_address_street_number" placeholder="Número" size=10 required>
				</div>
				<div class="input text">
					<input type="text" name="customer_address_complementary" placeholder="Complemento" size=15>
				</div>
				<div class="input text">
					<input type="text" name="customer_born_at" placeholder="Data de nascimento" required title="Data de nascimento">
				</div>
				<div class="input text">
					<input type="number" name="customer_phone_ddd" placeholder="DDD" size=10 required>
				</div>
				<div class="input text">
					<input type="number" name="customer_phone_number" placeholder="Telefone" required>
				</div>
				<div class="input radio">
					<label for="customer_gender">Gênero</label>
					<input type="radio" name="customer_gender" value="m">Masculino
					<input type="radio" name="customer_gender" value="f">Feminino
				</div>
				<div class="clear"></div>
				<div class="input submit">
					<button class="secondary" id="cancelar">cancelar</button>
					<input type="submit" value="prosseguir">
				</div>
			</fieldset>
		</form>
		{{/if}}
	{{/if}}
	{{#if is_outro_plano_visible}}
	<form>
		<fieldset id="veja_como_prosseguir" class="">
			<legend>Veja como prosseguir</legend>
		</fieldset>
	</form>
	{{/if}}
</template>
