<template name="rodape">
	<div class="participante">
		<p class="titulo">Realizado por</p>
		<img src="" alt=""/>
	</div>
	<div class="participante">
		<p class="titulo">Desenvolvido por</p>
		<img src="" alt=""/>
	</div>
	<div class="participante">
		<p class="titulo">Transparência</p>
		<p class="descricao">Confira nossos gastos <a href="http://www.url.com">aqui</a></p>
	</div>
	<div class="participante">
		<p class="titulo">Contato</p>
		<p class="descricao">E-mail: contato@cozinhasp.org</p>
		<p class="descricao">Whatsapp: XX XXXX-XXXX</p>
	</div>
</template>
