<template name="rodape">
<div class="container rodape">
	<div class="participante">
		<p class="titulo">Realizado por</p>
		<img src="/images/logo-instituto-mobilidade-verde.png" alt="Logo Instituto Mobilidade Verde" width="215" />
	</div>
	<div class="participante">
		<p class="titulo">Desenvolvido por</p>
		<img src="/images/logo-nucleo-digital.svg" alt="Logo Núcleo Digital" width="100" />
	</div>
	<div class="participante redes-sociais">
		<a href="https://instagram.com/cozinhasaopaulo" target="_blank"><img src="/images/button-instagram.svg" alt="Perfil no Instagram" width="67" /></a>
		<a href="https://facebook.com/cozinhasaopaulo" target="_blank"><img src="/images/button-facebook.svg" alt="Perfil no facebook" width="67" /></a>
		<a href="https://twitter.com/cozinhasaopaulo" target="_blank"><img src="/images/button-twitter.svg" alt="Perfil no twitter" width="67" /></a>
	</div>
	<div class="clear"></div>
	<div class="participante">
		<p class="titulo">Transparência</p>
		<p class="descricao">Confira nossos gastos <a href="http://cl.ly/0B1x3Y1n1m3E" target="_blank">clicando aqui</a></p>
	</div>
	<div class="participante">
		<p class="titulo">Contato</p>
		<p class="descricao">E-mail: contato@cozinhasp.org</p>
		<p class="descricao">Whatsapp: (011) 95393-2866</p>
		<p class="descricao">Horário de funcionamento: Segunda à sábado, das 10h às 20h; domingo, das 10h às 18h.</p>
	</div>
</div>
</template>
