<template name="topo">
	<h1><img src="/images/logo.svg" width="278" height="333" alt="Cozinha SP" /></h1>
	<p>A Cozinha SP é uma experiência de ativação de espaço público que une cozinha colaborativa com gastronomia social. Apoiamos novos microempreendedores através de formação intensiva na prática e orientação profissional, incentivando a agricultura familiar orgânica, alimentação saudável com preço justo e pequenos eventos comunitários educativos. Todo o recurso obtido vai apoiar jovens da periferia da cidade a entrarem para o mundo da gastronomia.</p>
</template>
